GOOGLE_CLIENT_ID=your_client_id_here
PUBLIC_URL=http://localhost:8080

# Set to false to bypass Google Authentication and use a mock local user (useful for development)
ENABLE_AUTH=false
COOKIE_SECURE=false
SESSION_SECRET=your_session_secret_here

ALLOWED_EMAILS=ravelo.carlos@gmail.com,amanda.glazier@gmail.com
HOUSEHOLD_TZ=America/New_York
