GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here
PUBLIC_URL=http://localhost:8080

# Set to true to bypass Google Authentication and use a mock local user (useful for development)
# MOCK_AUTH=true
