# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

node_modules/
dist/
playwright-report/
.playwright-cli/
*.db
.env
.astro/

# Editor directories and files
.DS_Store

# Opencode
.opencode/.beacon/
.vera/

# Remove after is gone
old_app/