# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

node_modules/
dist/
playwright-report/
.playwright-cli/
*.db
.env
.astro/
.history/

# Editor directories and files
.DS_Store

# Remove after is gone
old_app/

